* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  margin: 20px 0;
}
.board {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board-row {
  display: flex;
}
.column {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
}
.column_r {
  border-bottom: 0px;
}
.column_r1 {
  border-right: 0px;
}
